name: Unit Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        os: [ubuntu-latest]
        include:
          - python-version: pypy3
            os: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install --upgrade keyring==21.4.0 setuptools wheel twine coveralls tox

      - name: Run pylint & codestyle & unit tests
        run: tox

      - name: Upload coverage to Codecov
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
        uses: codecov/codecov-action@v3
        with:
          directory: tests/unit/
          files: cov.xml
          flags: unittest
          verbose: true

      - name: Run twine check
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*
